# Netlify
.netlify/

# Dependencies
node_modules/
.pnp
.pnp.js

# Production Build
dist/
dist-ssr/

# System & OS
.DS_Store
Thumbs.db
*.log

# Editor & IDE
.vscode/
.idea/

# Local Environment
.env
.env.local
